#These are dummy values. Replace them with your actual values.

APP_ENVIRONMENT='development'
DATABASE_HOSTNAME='localhost'
DATABASE_USERNAME='postgres'
DATABASE_PASSWORD='zoro103'
DATABASE_NAME='invoice_app'
DATABASE_PORT='5432'
DATABASE_QUERY_PARAM="sslmode=require"